<!DOCTYPE html>
<html lang="es">
	<head>
		<!-- META INFO -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="icon" type="image/png" sizes="16x16" href="../../plugins/images/favicon.png">
		<title>Notes - SpartNotes</title>
		
		<!-- STYLES -->
		<!-- Bootstrap Core CSS -->
		<link href="../../bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
		<!-- Menu CSS -->
		<link href="../../plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.css" rel="stylesheet">
		<!-- toast CSS -->
		<link href="../../plugins/bower_components/toast-master/css/jquery.toast.css" rel="stylesheet">
		<!-- morris CSS -->
	   <!-- <link href="../../plugins/bower_components/morrisjs/morris.css" rel="stylesheet">-->
		<!-- animation CSS -->
		<link href="../../css/animate.css" rel="stylesheet">
		<!-- Custom CSS -->
		<link href="../../css/style.css" rel="stylesheet">
		<!-- color CSS -->
		<link href="../../css/colors/blue-dark.css" id="theme" rel="stylesheet">
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
		
		<script type="text/javascript">
			function search(txt) {   
				if (txt)
					location.href = "/users/search/" + txt ;
			}
		</script>  
	</head>

	<body>
		<!-- Preloader -->
		<div class="preloader">
			<div class="cssload-speeding-wheel"></div>
		</div>
		<div id="wrapper">
			<!-- Navigation -->
			<nav class="navbar navbar-default navbar-static-top m-b-0">
				<div class="navbar-header"> <a class="navbar-toggle hidden-sm hidden-md hidden-lg " href="javascript:void(0)" data-toggle="collapse" data-target=".navbar-collapse"><i class="fa fa-bars"></i></a>
					<div class="top-left-part"><a style="background:transparent;"  class="logo" href="/notes"><b><img src="../../plugins/images/logo.png" alt="home" /></b><span class="hidden-xs"><img src="../../plugins/images/text.png" alt="home" /></span></a></div>
					<ul class="nav navbar-top-links navbar-left m-l-20 hidden-xs">
						<li>
							<form action="javascript:search(search_username.value)" role="search" class="app-search hidden-xs">
								<input type="text" name="search_username" id="search_username" placeholder="Search User..." class="form-control"> <a href=""><i class="fa fa-search"></i></a>
							</form>
						</li>
					</ul>
					<ul class="nav navbar-top-links navbar-right pull-right">
						<li>
							<a class="profile-pic" href="/friendship_requests"> <i class="fa fa-users fa-2x" aria-hidden="true"><span id="notification" style="border-radius:5px; background-color:red; margin-left:5px;"><%= @numpetitions %></span></i></a>
						</li>
						<li>
							<% unless @me.avatar.blank? %>
								<a class="profile-pic" href="/profile"> <%= image_tag @me.avatar, :class=> "img-circle", :style => "width:36px; height:36px;" unless @me.avatar.blank? %><b class="hidden-xs"><%= session[:user] %></b> </a>
							<% else %>
								<a class="profile-pic" href="/profile"> <img src="../../images/default.png" alt="user-img" width="36" class="img-circle"><b class="hidden-xs"><%= session[:user] %></b> </a>
							<% end %>
						</li>
					</ul>
				</div>
				<!-- /.navbar-header -->
				<!-- /.navbar-top-links -->
				<!-- /.navbar-static-side -->
			</nav>
			
			<!-- Left navbar-header -->
			<div class="navbar-default sidebar" role="navigation">
				<div class="sidebar-nav navbar-collapse slimscrollsidebar">
					<ul class="nav" id="side-menu">
						<li style="padding: 10px 0 0;">
							<a href="../../notes" class="waves-effect"><i class="fa fa-sticky-note-o fa-fw" aria-hidden="true"></i><span class="hide-menu">Notes</span></a>
						</li>
						<li>
							<a href="../../collections" class="waves-effect"><i class="fa fa-object-group  fa-fw" aria-hidden="true"></i><span class="hide-menu">Collections</span></a>
						</li>
						<li>
							<a href="../../friends" class="waves-effect"><i class="fa fa-users fa-fw" aria-hidden="true"></i><span class="hide-menu">Friends</span></a>
						</li>
						<li>
							<a href="../../profile" class="waves-effect"><i class="fa fa-user fa-fw" aria-hidden="true"></i><span class="hide-menu">Profile</span></a>
						</li>
						<li>
							<a href="../../logout" class="waves-effect"><i class="fa fa-power-off  fa-fw" aria-hidden="true"></i><span class="hide-menu">Log Out</span></a>
						</li>
						<li>
							<i class="fa  fa-fw" aria-hidden="true"></i>
						</li>
						<% if @me.admin == true %>
							<li>
								<a href="../../allnotes" class="waves-effect"><i class="fa fa-tag  fa-fw" aria-hidden="true"></i><span class="hide-menu">All Notes</span></a>
							</li>
							<li>
								<a href="../../allcollections" class="waves-effect"><i class="fa fa-tags  fa-fw" aria-hidden="true"></i><span class="hide-menu">All Collections</span></a>
							</li>
							<li>
								<a href="../../users" class="waves-effect"><i class="fa fa-user-secret fa-fw" aria-hidden="true"></i><span class="hide-menu">All Users</span></a>
							</li>
						<% end %>
					</ul>
				</div>
			</div>
			<!-- Left navbar-header end -->
			
			<!-- Page Content -->
			<div id="page-wrapper">
				<div class="container-fluid">
					<div class="row bg-title">
						<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
							<h4 class="page-title">Edit User</h4> </div>
						<!--<div class="col-lg-9 col-sm-8 col-md-8 col-xs-12"> <a href="notes/new" class="btn btn-danger pull-right m-l-20 btn-rounded btn-outline hidden-xs hidden-sm waves-effect waves-light">New Note</a>
						</div>-->
						<!-- /.col-lg-12 -->
					</div>
					<!-- row -->
					<div class="row">
						<div class="col-md-12 col-xs-12">
							<div class="white-box">
								<%= form_with(model: @user, local: true, class: "form-horizontal form-material") do |form| %>
									<div class="form-group">
										<label class="col-md-12">Name</label>
										<div class="col-md-12" style="margin:10px 0px 10px">
											<%= form.text_field :name, id: :user_name, class: "form-control form-control-line", style: "background: #f7fafc;" %>
										</div>
										
										<label class="col-md-12">Password</label>
										<div class="col-md-12" style="margin:10px 0px 10px">
											<%= form.text_field :password, id: :user_password, class: "form-control form-control-line", style: "background: #f7fafc;" %>
										</div>
										
										<label class="col-md-12">Avatar</label>
										<div class="col-md-12" style="margin:10px 0px 10px">
											<input type="file" id="pic" accept="image/*">
											<script>
												document.getElementById("pic").onchange = function() {
													document.getElementById("user_avatar").value = document.getElementById("pic").files[0].name ;
												};
											</script>
											<%= form.text_field :avatar, id: :user_avatar, type: "hidden" ,class: "form-control form-control-line", style: "background: #f7fafc;" %>
										</div>
										
										<label class="col-md-12">Admin</label>
										<div class="col-md-12" style="margin:10px 0px 10px">
											<%= form.check_box :admin, id: :user_admin, class: "form-control-line", style: "background: #f7fafc;" %>
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-12">
										<%= form.submit class:"btn btn-success", :value => "Update User" %>
										</div>
									</div>
								<% end %>
							   <!-- </form>-->
							</div>
						</div>
					</div>
					<!-- /.row -->
				</div>
				<!-- /.container-fluid -->
				<footer class="footer text-center"> 2018 &copy; SpartNotes </footer>
			</div>
			<!-- /#page-wrapper -->
		</div>
		<!-- /#wrapper -->
		<!-- jQuery -->
		<script src="../../plugins/bower_components/jquery/dist/jquery.min.js"></script>
		<!-- Bootstrap Core JavaScript -->
		<script src="../../bootstrap/dist/js/bootstrap.min.js"></script>
		<!-- Menu Plugin JavaScript -->
		<script src="../../plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js"></script>
		<!--slimscroll JavaScript -->
		<script src="../../js/jquery.slimscroll.js"></script>
		<!--Wave Effects -->
		<script src="../../js/waves.js"></script>
		<!--Counter js -->
		<script src="../../plugins/bower_components/waypoints/lib/jquery.waypoints.js"></script>
		<script src="../../plugins/bower_components/counterup/jquery.counterup.min.js"></script>
		<!--Morris JavaScript -->
		<script src="../../plugins/bower_components/raphael/raphael-min.js"></script>
	   <!-- <script src="../../plugins/bower_components/morrisjs/morris.js"></script>-->
		<!-- Custom Theme JavaScript -->
		<script src="../../js/custom.min.js"></script>
	   <!-- <script src="js/dashboard1.js"></script>-->
		<script src="../../plugins/bower_components/toast-master/js/jquery.toast.js"></script>
	</body>

</html>