<%= form_with(model: collection_user, local: true) do |form| %>
  <% if collection_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(collection_user.errors.count, "error") %> prohibited this collection_user from being saved:</h2>

      <ul>
      <% collection_user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :id_collection %>
    <%= form.number_field :id_collection, id: :collection_user_id_collection %>
  </div>

  <div class="field">
    <%= form.label :id_user %>
    <%= form.number_field :id_user, id: :collection_user_id_user %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
